html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.center {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;

  justify-content: center;
  align-items: center;
}

.vertical {
  flex-direction: column;
}

.cover {
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
}

.title {
  font-size: 20px;
  margin-bottom: 20px;
}
